.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



Button:hover {
  background-color: white;
  color: black;
}

.searchButton {
  background-color:#ED7766;
  border-radius: 1em;
  border-style: none;
  padding: 0.6em;
  height: 3em;
  width: 6em;
  font-weight: 700;
}

.addButton {
  background-color: lightgreen;
  border-radius: 0.2em;
  border-style: none;
  padding: 0.6em;
}

.cancelButton {
  background-color: #ED7766;
  border-radius: 0.2em;
  border-style: none;
  padding: 0.6em;
  box-shadow: 2px 2px 2px black;
}

.deleteButton {
  background-color: #FF4E45;
  color: white;
  border-radius: 0.2em;
  border-style: none;
  padding: 0.6em;
}

.viewAllButton {
  background-color: #0E1941;
  color: white;
  border-radius: 1em;
  border-style: none;
  padding: 0.6em;
  height: 3em;
  width: 6em;
  font-weight: 700;
  margin-left: 1em;
}

.submitButton {
  margin-top: 1em;
  margin-right: 1em;
}

.Policy-card-div {
  border-radius: 0.6em;
  padding: 0.6em 0.3em;
  width: 15em;
  margin: 0 8% 0 0;
  background-color: #0033A0;
}


.head {
  display: flex;
  padding: 0 2em;
  background-color: #0033A0;
  align-items: center;
}

.logo {
  color: white;
}

.searchBar {
  margin: 0 1em 0 4em;
  border-radius: 1em;
  border-style: none;
  height: 3em;
  width: 20em;
  padding-left: 0.5em;
}






.customerCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #0E1941;
  color: white;
  width: 75%;
  margin: 2em auto;  
  border-radius: 0.9em;
  padding: 1em 1em;
  box-shadow: 4px 4px 4px gray;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


.addCustomer {
  background-color: #0E1941;
  margin: 0;
  padding: 1em 0;
  color: white;
}

.policySection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}